:root {
  --bg:             #1a1a1a;
  --bg-rgb:         26, 26, 26;
  --panel-bg:       #303030;
  --panel-bg-rgb:   48, 48, 48;
  --grid:           #2f2f2f;
  --grid-rgb:       47, 47, 47;
  --border:         #454545;
  --border-rgb:     69, 69, 69;
  --border-active:  #ffffff;
  --accent:         #74a2ff;
  --accent-rgb:     116, 162, 255;
  --accent-light:   #9ebeff;
  --text:           #efefef;
  --text-rgb:       239, 239, 239;
  --danger:         #ff3b3b;
  --danger-rgb:     255, 59, 59;

  color-scheme: dark;
}

body {
  margin: 0;
}
